# Comments

## Jupyter

In [1]:
# Jupyter Notebook shortcuts
#  
#   Esc -> go from edit (green) to command (blue) mode
#   Enter -> go from command to edit
#   Run a cell -> Shift + Enter
#   Save file -> Cms + S
#
#   Cmd + Shift + P -> search for a command
#
#   Select multiple cells -> Shift + Up/Down
#   Merge -> M
#   Cut, Copy, Paste -> X, C, V (without Cmd)
#   Add a cell -> (go out of cells) A (above) or B (below)
#   Delete a cell -> D + D (not undoable)à
#   Move a cell or a group (up/down) -> Alt + Up/Down
#   Change between code and markdown -> M (to markdown), Y (to code)
#
#   Aggiungi/togli commenti: Alt + C
#
#   instructions: %run ./file.py  oppure anche %run ./thisnotebook.ipynb
#   %%time at the beginning of a cell times the execution %timeit does it 100000 times
#   !ls *.csv  esegue una istruzione bash
#   LaTeX: $P(A \mid B) = \frac{P(B \mid A)P(A)}{P(B)}$ in Markdown cells
#
#   Cython magic
#  %%cython
#  def myltiply_by_2(float x):
#      return 2.0 * x

## Python

In [2]:
# Python Syntax
#
# help(x) provides info about x
#  anche scritto x? -- x?? da accesso al source code
# 
# Types: list, dict (std::map), string, int, float, bool (True or False only)
#        to check: use type(x)
#
# List: building and slicing
#      l = ["vio", "dono", "e"]   -- l itself is a pointer, so new_l = l doesnt duplicate the list, use new_l = list(l)
#      l = [1:2]   ---  Generates l[1,2), that is l[1,1], end is not included
#      l = [start:end:step], for instance l[::-1] reverses the list
#      l.append("ciao")    oppure l += ["ciao"]
#      l.remove("value")  l.index("value") / crashes on failure --- Careful: LINEAR time
#
#
# Dicts: like an std::map
#      d = {"a": 10, "b": 42}
#      d[nkey] = nval     del(d["a"])    key in d  -- returns True or False
#
# Functions:
#      def funz(arg1, arg2= defval[, opzarg]):
#          """docstring: spiega cosa fa la funzione"""
#          return 5
#
# Output di Jupyter: è una lista In[...], accedi tipo Out[5]; last output = _, previous = __
#

## Pandas

In [15]:
#df.T - trasposto del dataframe
#df.sort_values(by='Age' or ['Age', 'Overall'], ascending=False)
#df.loc[:, 'D'] = np.array([5] * len(df)) filling with new values
#df.shift(2)  porta tutto in giu di 2

#df['Name'] ritorna una Series, uguale a df.Name
#df[['Name', Age]] ritorna un df
#df[["Name"]] ritorna un df di una colonna
#df[0:3] ritorna il range (3 escluso)

#df.loc[5] ritorna elemento di indice 5, anche df.loc[7:11, "Name"] o df.loc[5, ["Age", "Name"]]
#df.at[5, "Name"] fast access, come loc[5, "Name"]
# però tra series di bool si usano & | ~, tipo (df.Age > 50) | (df.Wage < 10)

#df.iloc[5, 7:10] oppure iloc[[5, 7, 20], [4, 5]] come loc ma con numeri anziche valori di indici

#Boolean indexing: df[df.A > 0] oppure df[df['E'].isin(['two', 'four'])]
#df2[df2 > 0] = -df2; in particolare df2 > 0 è una Series di bool (per un bool solo si usa .any(), .all())
#df2[not df2.Age > 0]

#df['Age'].mean(), median(), mode(), std(), corr() [correlation tra ogni coppia di colonne], these EXCLUDE missing data
#df["Overall"].value_counts(), .quantile(0.9)

# Iterating: WARNING all of this is very slow
#
#for col in df:
#    df[col]
# Note: for x in Series produce delle values
#
#for idx, val in Series.iteritems()
#  Series: (index, scalar value) pairs
#  DataFrame: (column, Series) pairs

In [16]:
# Editing and cleaning columns
#   Sapendo i valori: w['female'] = w['female'].map({'female': 1, 'male': 0})
#   Mettendo numeri a cazzo (su Series): labels, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])

# Applying a function to all values in a col
# def fix(x):
#    try:
#        return int(x[3:-1])
#    except ValueError:
#        return 0
# df["NewWage"] = df["Wage"].apply(fix)

# Handling NaNs
#    df1.dropna(how='any'), fillna(value=5), pd.isna(df1), pd.notna()
#    np.nan == np.nan è FALSE, usa (df + df).equals(df * 2)

# Rinominare le colonne
#    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# String processing
#    str.replace('$', '') e simili (pd.str)

# Discretizing continuous values
#    .cut() e .qcut() trasformano in interi

In [17]:
# DataFrame Slicing
#    df.sample(n=1000) - sceglie a caso
#

In [18]:
# Visualization
#    Series.plot()
#    Series.cumsum().plot()

# Parameters
#    title, xlabel, ylabel
#    xticks([1, 2, 3, 4, 5]), yticks

# Line plot: data against time .plot()
# Scatter plot: x,y correlation .scatter()
# Histogram: frequency .hist()
# Barchart: histogram for categorical data .bar()
# Boxplot: value ranges .boxplot()

# corr = wines.corr()
# sns.heatmap(corr, 
#             xticklabels=corr.columns.values,
#             yticklabels=corr.columns.values)
# sns.plt.show()

# Imports and I/O

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import xgboost as xgb
import category_encoders
import json

from sklearn import neighbors, feature_extraction, datasets, linear_model, metrics, model_selection, preprocessing, svm, ensemble, decomposition, feature_extraction

# Configs
%config InlineBackend.figure_format ='retina'
%matplotlib inline

# Cython
%load_ext Cython
#!python
#cython: language_level=3

print("All libraries set-up and ready to go!")

All libraries set-up and ready to go!

In [4]:
df = pd.read_json('../tmp/1df.json')

In [62]:
cl = df.columns[4:-3]
cl

Index([u'op1', u'op2', u'op3', u'op4', u'op5'], dtype='object')

In [66]:
for c in cl:
    df[c] = df[c].fillna(-1).astype(int)

In [67]:
df.head(5)

,_timestamp,char_bank,n_len,o_len,op1,op2,op3,op4,op5,op_no,z_opstring,z_string
0,1523866895883,,1,1,-1,-1,-1,-1,-1,0,,Z:1>0$
1,1523866895893,,1,1,-1,-1,-1,-1,-1,0,,Z:1>0$
2,1524302714348,L,2,1,0,-1,-1,-1,-1,1,*0+1,Z:1>1*0+1$L
3,1524302714848,ea,4,2,1,2,-1,-1,-1,2,=1*0+2,Z:2>2=1*0+2$ea
4,1524302715347,rn,6,4,3,4,-1,-1,-1,2,=3*0+2,Z:4>2=3*0+2$rn

In [65]:
ops.head(5)

  attribs  chars  lines opcode
0      *0      1      0      +
1      *0      2      0      +
2      *0      2      0      +
3      *0      2      0      +
4      *0      2      0      +